---
layout: page
title: Aixway - Trade
subtitle: Care For your Buisiness
show_sidebar: false
callouts: example_callouts
hide_footer: true
---

<div class="columns">
    <div class="column is-7">
        <h2>About Us</h2>
        <br/>
        <ul>
            <li><p>Founded by Mr. Liyaowei Shen in 2021 in Taicang City, Jiangsu Province. Our company is a foreign-funded enterprise in the territory of the People's Republic of China. </p></li>
            <li><p>We mainly engaged in the import and export business of metal 3D priting equipments and products along with corresponding services. </p></li>
            <li><p>We are authorized by <a href="https://aixway3d.de/" target="_blank">Aixway3D GmbH Germany</a> as a business agency to conduct all business activities for them within the greater China region.</p></li>
            <li><p>We are dedicated to promote ultra-high precision SLM 3d printing technology and applications.</p></li>
        </ul>
        <br/>
        <br/>
        <h2>Contact Us</h2>
        <br/>
        <ul>
            <li><p>Address：5th factory | 101st chenmenjing road | Chenxiang County | Taicang City | Suzhou City | Jiangsu Province | China </p></li>
            <li><p><a href="mailto:info@aixwaytrade.ltd">Email：info@aixwaytrade.ltd</a></p></li>
        </ul>
    </div>
    <div class="column is-1" style="height:0px;">
    </div>
    <div class="column is-4">
         {% include image-modal.html ratio="is-3by2" link="/picture.jpg" alt="Example image" large_link="/picture.jpg" %}   
        <br>
         {% include image-modal.html ratio="is-3by2" link="/picture2.jpg" alt="Example image" large_link="/picture2.jpg" %}    
    </div>
</div>


